<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MemoryCapsule</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
	  <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MemoryCapsule 需要访问您的位置信息，以便为您的记忆添加地理位置标签</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MemoryCapsule 需要访问您的位置信息，以便为您的记忆添加地理位置标签</string>
	<key>NSCameraUsageDescription</key>
	<string>MemoryCapsule 需要访问相机以拍摄照片记录您的生活瞬间</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MemoryCapsule 需要访问相册以保存和读取照片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MemoryCapsule 需要保存照片到您的相册</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MemoryCapsule 需要访问麦克风以录制语音记录</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MemoryCapsule 需要使用语音识别功能将您的语音转换为文字</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
